<div class="col-lg-2 sidebar">
	<div class="container-fluid sidebar-contents">
		<div class="row">
			<h1><%= @movie.title %></h1>
			<h5><em><%= @movie.year %></em></h5>
		</div>

		<div class="row">
			<img src="<%= @movie.poster %>">
		</div>

		<div class="row">
			<p><%= @movie.synopsis %></p>
		</div>

	</div>
</div>


<div class="col-lg-10 main">
	
	<div class="row comment">
	<% @comments.each do |comment| %>
		<div class="row author">
			<span><strong><%= comment.user.username %> - </strong></span>
			<span><em><%= comment.created_at %></em></span>
		</div>

		<div class="row comment-content">
			<p><%= comment.content %></p>
			<% if comment.user.id == @current_user.id %>
				<%= button_to 'Delete comment', {:controller => 'comments', :action => "destroy", :id => comment.id, :movie_id => @movie.id}, :method => :delete %>
			<% end %>
		</div>
		<% end %>
	</div>

	<div class="flash-message">
    <% flash.each do |key, msg| %>
  <%= content_tag :div, msg, id: key %>
<% end %>
  </div>

  	<div class="row no-comments">
  		<% if @comments.empty? %>
  			<h4>Nobody is talking about this film yet. Why don't you start off?</h4>
  		<% end %>
  	</div>

	<div class="row comment-form">
		<h3>Contribute to the discussion:</h3>
		<br>
		<%= form_for [@movie, @comment] do |f| %>
  			<% if @comment.errors.any? %>
   			 <div id="error_explanation">
      			<h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      			<ul>
      				<% @comment.errors.full_messages.each do |message| %>
        				<li><%= message %></li>
      					<% end %>
     			 </ul>
   			 </div>
  			<% end %>

  				<div class="field">
          <%= f.label :content, 'What did you think of the film?' %>
          <%= f.text_area :content %>
          </div>
        <input type="hidden" name="user_id" value=<%= @current_user.id %>>


  				<div class="actions">
    				<%= f.submit %>
  				</div>
		<% end %>
	</div>	
	
</div>


<!--
<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
-->